.box
  max-width: 1920px
  min-width: 1280px
  width: 100%
  margin: 0 auto
  padding-top: 120px

  .goods-container
    padding: 10px

    > .goods-list
      list-style: none
      padding: 0
      margin: 0
      display: flex
      flex-wrap: wrap
      align-content: flex-start